.container {
  display: flex;
}

.column {
  flex:1;
  border: 1px solid goldenrod;
  height: 100vh
}
button {
  width: 40px;
  height: 20px;
}
button:hover {
  width: 50px;
  transition: 3s;
}

.column h1 {
  text-align: center;
}

.addnote {
  text-align: center;
}

li {
  margin-bottom: 5%;
}

.btn {
  margin-left: 5%;
}
