.container {
  display: flex;
}

.column {
  flex:1;
  border: 1px solid goldenrod;
  height: 100vh
}
button {
  width: 40px;
  height: 20px;
  color: blue;
}
button:hover {
  width: 50px;
  transform: rotate(360deg);
  transition: 3s;

}
p {
  padding-top: 5px;
}
.del {
  width: 70px;
}
.column h1 {
  text-align: center;
}

.addnote {
  text-align: center;
}

li {
  margin-bottom: 5%;
}

.btn {
  margin-left: 5%;
}
